# Default owner for this repository.
* @alirezasafaeiiidev

# Sensitive areas.
/.github/ @alirezasafaeiiidev
/src/app/api/ @alirezasafaeiiidev
/src/lib/ @alirezasafaeiiidev
/prisma/ @alirezasafaeiiidev
