# Default owner for this repository.
* @alirezasafaeisystems

# Sensitive areas.
/.github/ @alirezasafaeisystems
/src/app/api/ @alirezasafaeisystems
/src/lib/ @alirezasafaeisystems
/prisma/ @alirezasafaeisystems
